.chatOnlineFriend {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
  @media only screen and (max-width: 768px) {
    margin-right: 0.1rem;
  }
}
.chatOnlineImg {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.chatOnlineImgContainer {
  position: relative;
  margin-right: 10px;
}

.chatOnlineName {
  font-size: 14px;
  font-weight: 500;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}
