@import "config";
@import "navbar";
@import "home";
@import "about";
@import "skills";
@import "projects";
@import "preview";
@import "contact";
@import "message";

body {
  height: 100vh;
  line-height: 1;
  color: set-text($primary-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #333;
}

h1,
h2 {
  font-weight: 400;
}
a {
  text-decoration: none;
  color: set-text($primary-color);
}
.text-secondary {
  color: $secondary-color;
}
header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: 1rem;
}
main {
  width: 100%;
  height: 100%;
  flex-direction: column;
  @include center;
}
.social-icons {
  position: fixed;
  @include center;
  flex-direction: column;
  top: 15vh;
  left: 0;
  z-index: 200;

  a {
    padding: 0.5rem;
    @include transition-ease;

    &:hover {
      color: $secondary-color;
    }
  }
}

.active {
  color: $secondary-color;
}

header {
  z-index: 100;
}

footer {
  position: fixed;
  left: 0rem;
  bottom: 0rem;
  z-index: 20;
  display: flex;
  padding: 0.5em;
  flex-direction: column;
  color: set-text($primary-color);
}

.cancel {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 3rem;
  cursor: pointer;
  background: #223243;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
