.messenger {
  height: calc(100vh - 2.7rem);
  display: flex;
  background: #333;
  @media only screen and (max-width: 768px) {
    flex-direction: column-reverse;
    justify-content: space-around;
    height: 100vh;
    position: fixed;
    top: 2.7rem;
    left: 0;
    right: 0;
  }
}
.text-wrapper {
  flex: 9;
  display: flex;
  padding: 20px;
  margin-bottom: 10px;
}
.chatMenu {
  flex: 3.5;

  @media only screen and (max-width: 768px) {
    flex: 1;
  }
}

.chatBox {
  flex: 5.5;
  position: relative;
}
.chatOnline {
  flex: 3;
  @media only screen and (max-width: 768px) {
    display: flex;
  }
}

.chatBoxWrapper {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid gray;
  padding: 10px;
}

.chatBoxTop {
  height: 100%;
  padding-right: 10px;
  overflow-y: scroll;
}

.chatBoxBottom {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem;

  @media only screen and (max-width: 760px) {
    margin-left: -25%;
    margin-bottom: 3rem;
  }

  @media screen and (width: 768px) {
    margin-left: 0;
  }
}

.chatMessageInput {
  border: 2px solid red;
  width: 80%;
  height: 90px;
  padding: 10px;
  margin: 0 0.5rem;
}

.chatOnline {
  flex: 3;
}
.chatMenuWrapper,
.chatOnlineWrapper {
  padding: 10px;
  height: 100%;
}

.chatMenuInput {
  width: 100%;
  padding: 10px 0;
  border: none;
  text-align: center;
  border-bottom: 1px solid violet;

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.noConversation {
  position: absolute;
  top: 30vh;
  display: flex;
  justify-content: center;
  font-size: 2.7rem;
  color: #808080c2;
}

.typing {
  position: absolute;
  color: #fff;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  left: 10vw;
}
.time {
  color: #fff;
}
