.sidebarContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  &.open {
    visibility: visible;
  }

  //ul
  .sidebarMenu {
    width: 70%;
    height: auto;
    padding: 1rem;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0.98;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
    transition: all 0.5s ease-in-out;
    transform: translateY(-100%);

    &.open {
      transform: translateY(0);
      opacity: 1;
    }

    &_item {
      //li
      transform: translateX(100vw);
      transition: all 0.5s ease-in-out;
      list-style: none;

      &.open {
        transform: translateX(0);
      }
    }

    &_link {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1rem;
      text-transform: capitalize;
      display: flex;
      align-items: center;
      margin-top: 1.5rem;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      text-decoration: none;
      color: #fff;
      padding: 5px;

      &:hover {
        color: #ff652f;
        background-color: #fff;
        border-radius: 5px;
      }

      &.active {
        color: #ff652f;
      }

      .margin {
        margin: 0.5rem;
      }
    }

    @media only screen and (min-width: 768px) {
      width: 30%;
    }
  }
}

@for $i from 1 through 7 {
  .sidebarMenu_item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}
